@using Bookish.Models;
@model Book;

@{
    ViewData["Title"] = "Book Copy Page";
}

<div>
    <h2>Our book of 2023:</h2>
    <h1>@Model.Title</h1>
    <h3>Authored by: @Model.Author</h3>
    <p>Copy Info: </p>
    <p>Total copies: @Model.Copies.Count, Available copies: @Model.Copies.Count(copy => !copy.HasActiveLoan)</p>

</div>